*scripts*
*.vscode*

*__pycache__*

*.log
*.sbatch
*.swp
*test_phylics.py*
*note*
*requirements.txt*

/docs/
__pycache__/
/dist/*-none-any.whl
/build/
/phylics.egg-info/
/README_PyPI.md

.ipynb_checkpoints

