*scripts*
*.vscode*

*__pycache__*

*.log
*.sbatch
*.swp
*test_phylics.py*
*note*
*requirements.txt*

/docs/_build/
__pycache__/
/dist/
/build/
/phylics.egg-info/
/README_PyPI.md

.ipynb_checkpoints

